.section {
  margin-top: var(--spacing-l);
}

.section__actions {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-medium);
  font-size: var(--font-body);

  &:only-child {
    margin-top: var(--spacing-xs);
  }

  > *:not(:last-child) {
    margin-right: var(--spacing-medium);
  }
}

.section__subtitle {
  color: var(--color-subtitle);
}
