.table {
  width: 100%;
  position: relative;

  th,
  td {
    overflow: hidden;

    &:first-of-type {
      padding-inline-start: var(--spacing-l);
    }

    &:last-of-type {
      padding-inline-end: var(--spacing-l);
    }
  }

  thead {
    cursor: default;
    position: relative;

    th {
      border-block-end: 1px solid var(--color-border);
    }
  }

  tr {
    &:not(:last-of-type) {
      td {
        border-block-end: 1px solid var(--color-border);
      }
    }

    &:nth-child(2n) {
      background-color: var(--color-table-highlight);
    }
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }
}

th {
  text-align: inline-start;
}

td {
  // white-space: nowrap;
}

.table--fixed {
  table-layout: fixed;
}

.table--condensed {
  td,
  th {
    padding: 0.5rem;

    &:first-of-type {
      padding-inline-start: 0;
    }

    &:last-of-type {
      padding-inline-end: 0;
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: transparent;
    }
  }
}

.table__item-label {
  font-size: var(--font-multiplier-small);
  font-weight: 300;
  color: var(--color-text-subtitle);
}

.table__item--align-right {
  text-align: inline-end;
}
