drawer-navigation {
  width: 100%;
  height: 5rem;

  display: inline-flex;
  flex: 1;
  font-size: inherit;
  justify-content: center;
  position: relative;
  z-index: 10;
}

drawer-navigation-helper {
  // This is to make mouse movement forgiving
  width: 0;
  height: 0;
  inset-block-start: 3rem;
  inset-inline-start: -5rem;

  border-inline-end: 8rem solid transparent;
  border-block-end: 5rem solid transparent;
  border-inline-start: 8rem solid transparent;
  position: absolute;
}

drawer-section {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;

  &:not(:hover):not(.active) {
    drawer-title::after {
      background-color: transparent;
    }

    drawer-navigation-helper,
    drawer-wrap {
      display: none;
    }
  }

  &:hover,
  &.active {
    z-index: 3;

    drawer-title::after {
      background-color: var(--color-primary);
    }
  }
}

drawer-title {
  height: 100%;
  align-items: center;
  cursor: default;
  display: flex;
  line-height: 3;
  position: relative;
  z-index: 1;

  &::after {
    width: 100%;
    height: 1px;
    inset-block-end: -1px;
    inset-inline-start: 0;

    content: "";
    position: absolute;
    z-index: 1;
  }
}

drawer-wrap {
  width: 100%;
  inset-block-start: 5rem;
  inset-inline-start: 0;

  background-color: var(--color-white);
  border-block-start: 1px solid var(--color-gray-1);
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  position: absolute;

  &::after {
    width: 100vw;
    height: calc(100vh - 5rem);
    inset-block-start: 5rem;
    inset-inline-start: 0;

    background-color: var(--color-black);
    content: "";
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }
}

drawer-children {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

drawer-child {
  padding: var(--spacing-s);
  border: 2px solid;
  transition: all 0.2s;

  &:not(:hover) {
    border-color: transparent;
  }

  &:hover {
    border-color: var(--color-gray-1);
    padding-inline-start: var(--spacing-m);

    > a {
      color: var(--lbry-primary);
    }
  }

  &:not([full-width]) {
    width: 50%;
  }

  &[full-width] {
    width: 100%;
  }

  span {
    display: flex;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
  }
}
