:root {
  --border-radius: 5px;
  --height-input: 3rem;
  --height-button: 3rem;
  --height-checkbox: 24px;
  --height-radio: 24px;
  --height-badge: 24px;

  // Spacing
  --spacing-xxs: 0.2rem;
  --spacing-xs: 0.4rem;
  --spacing-s: 0.8rem;
  --spacing-m: 1.6rem;
  --spacing-l: 2.4rem;
  --spacing-xl: 3.2rem;
  --spacing-xxl: 6.4rem;

  // Aspect ratio
  --aspect-ratio-bluray: 41.6666666667%; // 12:5
  --aspect-ratio-panavision: 36.3636363636%; // 11:4
  --aspect-ratio-sd: 75%; // 4:3
  --aspect-ratio-standard: 56.25%; // 16:9

  // Type
  --font-mono: "Fira Code";
  --font-sans: Inter;
  --font-serif: Georgia;
}
